<!DOCTYPE html>
<html>
  <head>
    <h1>Hello World</h1>
    <link rel="stylesheet" href="../../public/styles/reset.css">
    <link rel="stylesheet" href="../../public/styles/base.css">
    <link rel="stylesheet" href="../../public/styles/layout.css">
    <link rel="stylesheet" href="../../public/styles/modules.css">
  </head>
</html>