<!DOCTYPE html>
<html>
  <head>
    <h1>Hello World</h1>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
  </head>
</html>